@font-face {
  font-family: 'titillium-web-light';
  src: url('../../fonts/Titillium_Web/TitilliumWeb-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'titillium-web-regular';
  src: url('../../fonts/Titillium_Web/TitilliumWeb-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'titillium-web-semibold';
  src: url('../../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'titillium-web-bold';
  src: url('../../fonts/Titillium_Web/TitilliumWeb-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
